#tituloPrincipal{
    width: 288px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: blue;
    display: inline;
}

.subtitulo
{
    width: 370px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: mediumaquamarine;
}

.lista
{
    width: 500px;
    border-width: 5px;
    border-style:double;
    border-color: blue;
    display: block;
    position: static;
    
}
